name: Deploy Azure infra

on:
  workflow_dispatch:
  push:
    paths:
      - 'automation/**'
      - '.github/workflows/deploy.yml'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login (client secret)
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          enable-AzPSSession: true

      - name: Install Az modules
        uses: azure/powershell@v1
        with:
          azPSVersion: '10.4.1'
          errorActionPreference: 'Stop'
          inlineScript: |
            Set-PSRepository PSGallery -InstallationPolicy Trusted
            if (-not (Get-Module -ListAvailable Az.Accounts)) {
              Install-Module Az -Scope CurrentUser -Force -AllowClobber
            }
            # (op»õional) vezi ce e instalat
            Get-Module Az.* -ListAvailable | Sort-Object Name | Format-Table Name,Version

      - name: Deploy environment
        uses: azure/powershell@v1
        with:
          azPSVersion: '10.4.1'
          errorActionPreference: 'Stop'
          scriptPath: automation/deploy-environment.ps1
